
defense/MNTD/raw_data/cifar-10-batches-py/data_batch_1
defense/MNTD/raw_data/cifar-10-batches-py/data_batch_2
defense/MNTD/raw_data/cifar-10-batches-py/data_batch_3
defense/MNTD/raw_data/cifar-10-batches-py/data_batch_4
defense/MNTD/raw_data/cifar-10-batches-py/data_batch_5
defense/MNTD/raw_data/cifar-10-python.tar.gz
defense/MNTD/shadow_model_ckpt/cifar10/models/shadow_benign_0.model
defense/MNTD/shadow_model_ckpt/cifar10/models/shadow_benign_1.model
defense/MNTD/shadow_model_ckpt/cifar10/models/shadow_benign_10.model
defense/MNTD/shadow_model_ckpt/cifar10/models/shadow_benign_11.model
defense/MNTD/shadow_model_ckpt/cifar10/models/shadow_benign_12.model
defense/MNTD/shadow_model_ckpt/cifar10/models/shadow_benign_13.model
defense/MNTD/shadow_model_ckpt/cifar10/models/shadow_benign_14.model
defense/MNTD/shadow_model_ckpt/cifar10/models/shadow_benign_15.model
defense/MNTD/shadow_model_ckpt/cifar10/models/shadow_benign_16.model
defense/MNTD/shadow_model_ckpt/cifar10/models/shadow_benign_17.model
defense/MNTD/shadow_model_ckpt/cifar10/models/shadow_benign_18.model
defense/MNTD/shadow_model_ckpt/cifar10/models/shadow_benign_19.model
defense/MNTD/shadow_model_ckpt/cifar10/models/shadow_benign_2.model
defense/MNTD/shadow_model_ckpt/cifar10/models/shadow_benign_20.model
defense/MNTD/shadow_model_ckpt/cifar10/models/shadow_benign_21.model
defense/MNTD/shadow_model_ckpt/cifar10/models/shadow_benign_22.model
defense/MNTD/shadow_model_ckpt/cifar10/models/shadow_benign_23.model
defense/MNTD/shadow_model_ckpt/cifar10/models/shadow_benign_24.model
defense/MNTD/shadow_model_ckpt/cifar10/models/shadow_benign_25.model
defense/MNTD/shadow_model_ckpt/cifar10/models/shadow_benign_26.model
defense/MNTD/shadow_model_ckpt/cifar10/models/shadow_benign_3.model
defense/MNTD/shadow_model_ckpt/cifar10/models/shadow_benign_4.model
defense/MNTD/shadow_model_ckpt/cifar10/models/shadow_benign_5.model
defense/MNTD/shadow_model_ckpt/cifar10/models/shadow_benign_6.model
defense/MNTD/shadow_model_ckpt/cifar10/models/shadow_benign_7.model
defense/MNTD/shadow_model_ckpt/cifar10/models/shadow_benign_8.model
defense/MNTD/shadow_model_ckpt/cifar10/models/shadow_benign_9.model
defense/MNTD/shadow_model_ckpt/cifar10/models/shadow_jumbo_0.model
defense/MNTD/shadow_model_ckpt/cifar10/models/shadow_jumbo_1.model
defense/MNTD/shadow_model_ckpt/cifar10/models/shadow_jumbo_10.model
defense/MNTD/shadow_model_ckpt/cifar10/models/shadow_jumbo_11.model
defense/MNTD/shadow_model_ckpt/cifar10/models/shadow_jumbo_12.model
defense/MNTD/shadow_model_ckpt/cifar10/models/shadow_jumbo_13.model
defense/MNTD/shadow_model_ckpt/cifar10/models/shadow_jumbo_14.model
defense/MNTD/shadow_model_ckpt/cifar10/models/shadow_jumbo_15.model
defense/MNTD/shadow_model_ckpt/cifar10/models/shadow_jumbo_16.model
defense/MNTD/shadow_model_ckpt/cifar10/models/shadow_jumbo_17.model
defense/MNTD/shadow_model_ckpt/cifar10/models/shadow_jumbo_18.model
defense/MNTD/shadow_model_ckpt/cifar10/models/shadow_jumbo_19.model
defense/MNTD/shadow_model_ckpt/cifar10/models/shadow_jumbo_2.model
defense/MNTD/shadow_model_ckpt/cifar10/models/shadow_jumbo_20.model
defense/MNTD/shadow_model_ckpt/cifar10/models/shadow_jumbo_21.model
defense/MNTD/shadow_model_ckpt/cifar10/models/shadow_jumbo_22.model
defense/MNTD/shadow_model_ckpt/cifar10/models/shadow_jumbo_23.model
defense/MNTD/shadow_model_ckpt/cifar10/models/shadow_jumbo_24.model
defense/MNTD/shadow_model_ckpt/cifar10/models/shadow_jumbo_25.model
defense/MNTD/shadow_model_ckpt/cifar10/models/shadow_jumbo_26.model
defense/MNTD/shadow_model_ckpt/cifar10/models/shadow_jumbo_27.model
defense/MNTD/shadow_model_ckpt/cifar10/models/shadow_jumbo_28.model
defense/MNTD/shadow_model_ckpt/cifar10/models/shadow_jumbo_29.model
defense/MNTD/shadow_model_ckpt/cifar10/models/shadow_jumbo_3.model
defense/MNTD/shadow_model_ckpt/cifar10/models/shadow_jumbo_30.model
defense/MNTD/shadow_model_ckpt/cifar10/models/shadow_jumbo_31.model
defense/MNTD/shadow_model_ckpt/cifar10/models/shadow_jumbo_32.model
defense/MNTD/shadow_model_ckpt/cifar10/models/shadow_jumbo_33.model
defense/MNTD/shadow_model_ckpt/cifar10/models/shadow_jumbo_34.model
defense/MNTD/shadow_model_ckpt/cifar10/models/shadow_jumbo_35.model
defense/MNTD/shadow_model_ckpt/cifar10/models/shadow_jumbo_36.model
defense/MNTD/shadow_model_ckpt/cifar10/models/shadow_jumbo_37.model
defense/MNTD/shadow_model_ckpt/cifar10/models/shadow_jumbo_38.model
defense/MNTD/shadow_model_ckpt/cifar10/models/shadow_jumbo_39.model
defense/MNTD/shadow_model_ckpt/cifar10/models/shadow_jumbo_4.model
defense/MNTD/shadow_model_ckpt/cifar10/models/shadow_jumbo_40.model
defense/MNTD/shadow_model_ckpt/cifar10/models/shadow_jumbo_41.model
defense/MNTD/shadow_model_ckpt/cifar10/models/shadow_jumbo_42.model
defense/MNTD/shadow_model_ckpt/cifar10/models/shadow_jumbo_43.model
defense/MNTD/shadow_model_ckpt/cifar10/models/shadow_jumbo_44.model
defense/MNTD/shadow_model_ckpt/cifar10/models/shadow_jumbo_45.model
defense/MNTD/shadow_model_ckpt/cifar10/models/shadow_jumbo_46.model
defense/MNTD/shadow_model_ckpt/cifar10/models/shadow_jumbo_47.model
defense/MNTD/shadow_model_ckpt/cifar10/models/shadow_jumbo_48.model
defense/MNTD/shadow_model_ckpt/cifar10/models/shadow_jumbo_49.model
defense/MNTD/shadow_model_ckpt/cifar10/models/shadow_jumbo_5.model
defense/MNTD/shadow_model_ckpt/cifar10/models/shadow_jumbo_50.model
defense/MNTD/shadow_model_ckpt/cifar10/models/shadow_jumbo_51.model
defense/MNTD/shadow_model_ckpt/cifar10/models/shadow_jumbo_52.model
defense/MNTD/shadow_model_ckpt/cifar10/models/shadow_jumbo_53.model
defense/MNTD/shadow_model_ckpt/cifar10/models/shadow_jumbo_54.model
defense/MNTD/shadow_model_ckpt/cifar10/models/shadow_jumbo_55.model
defense/MNTD/shadow_model_ckpt/cifar10/models/shadow_jumbo_56.model
defense/MNTD/shadow_model_ckpt/cifar10/models/shadow_jumbo_57.model
defense/MNTD/shadow_model_ckpt/cifar10/models/shadow_jumbo_58.model
defense/MNTD/shadow_model_ckpt/cifar10/models/shadow_jumbo_59.model
defense/MNTD/shadow_model_ckpt/cifar10/models/shadow_jumbo_6.model
defense/MNTD/shadow_model_ckpt/cifar10/models/shadow_jumbo_60.model
defense/MNTD/shadow_model_ckpt/cifar10/models/shadow_jumbo_61.model
defense/MNTD/shadow_model_ckpt/cifar10/models/shadow_jumbo_62.model
defense/MNTD/shadow_model_ckpt/cifar10/models/shadow_jumbo_63.model
defense/MNTD/shadow_model_ckpt/cifar10/models/shadow_jumbo_64.model
defense/MNTD/shadow_model_ckpt/cifar10/models/shadow_jumbo_65.model
defense/MNTD/shadow_model_ckpt/cifar10/models/shadow_jumbo_66.model
defense/MNTD/shadow_model_ckpt/cifar10/models/shadow_jumbo_67.model
defense/MNTD/shadow_model_ckpt/cifar10/models/shadow_jumbo_68.model
defense/MNTD/shadow_model_ckpt/cifar10/models/shadow_jumbo_69.model
defense/MNTD/shadow_model_ckpt/cifar10/models/shadow_jumbo_7.model
defense/MNTD/shadow_model_ckpt/cifar10/models/shadow_jumbo_70.model
defense/MNTD/shadow_model_ckpt/cifar10/models/shadow_jumbo_71.model
defense/MNTD/shadow_model_ckpt/cifar10/models/shadow_jumbo_72.model
defense/MNTD/shadow_model_ckpt/cifar10/models/shadow_jumbo_73.model
defense/MNTD/shadow_model_ckpt/cifar10/models/shadow_jumbo_74.model
defense/MNTD/shadow_model_ckpt/cifar10/models/shadow_jumbo_75.model
defense/MNTD/shadow_model_ckpt/cifar10/models/shadow_jumbo_76.model
defense/MNTD/shadow_model_ckpt/cifar10/models/shadow_jumbo_77.model
defense/MNTD/shadow_model_ckpt/cifar10/models/shadow_jumbo_78.model
defense/MNTD/shadow_model_ckpt/cifar10/models/shadow_jumbo_79.model
defense/MNTD/shadow_model_ckpt/cifar10/models/shadow_jumbo_8.model
defense/MNTD/shadow_model_ckpt/cifar10/models/shadow_jumbo_9.model
